out
.idea
__pycache__
injectors/lensDirt/*
!injectors/lensDirt/LensDirt-1.png
test_injectors.py
test_patching
test_sequence_injector.py

input/*
!input/sequence_01
output/*

sequence_injectors/patches/breakage/*
sequence_injectors/patches/condensation/*
sequence_injectors/patches/dirt/*
sequence_injectors/patches/ice/*
sequence_injectors/patches/rain/*

experiment_runner/test_env
test_*